* {
  font-family: "Be Vietnam Pro", sans-serif;
  font-family: "Cairo", sans-serif;
  font-family: "Cormorant Garamond", serif;
  font-family: "Dongle", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}
header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.logo {
  color: #16507b;
}
.logo h2 {
  font-weight: normal;
  font-size: 22px;
  transition: 1s;
}
.menu {
  width: 80%;
  text-align: right;
}
.menu a {
  color: #16507b;
  text-decoration: none;
  font-size: 15px;
  padding: 20px;
}
.menu a:hover {
  color: #007bff;
}
.menu .botao {
  background-color: #306d98;
  display: inline-block;
  padding: 8px 20px;
  color: white;
  border-radius: 10px;
}
.menu .botao:hover {
  background-color: #124265;
  color: white;
}

/*
section
*/

section.main {
  background-image: url(/fundo.jpg);
  min-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main_cta {
  width: 100%;
  margin: 60px 0;
  text-align: center;
}
.main_cta h2 {
  color: #16507b;
  font-size: 50px;
}
.main_cta p {
  color: gray;
  font-size: 19px;
  margin: 10px 0;
}
.main_cta .botao2 {
  background-color: #306d98;
  display: inline-block;
  padding: 8px 20px;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  border: 0;
  padding: 10px;
}

.diferenciais {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}
.diferencial-single {
  background-color: white;
  border-radius: 10px;
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
}
.diferencial-single i {
  color: #124265;
}
.diferencial-single h2 {
  color: #124265;
  margin: 10px 0;
  font-size: 17px;
}
.diferencial-single p {
  color: gray;
  font-size: 14px;
  line-height: 30px;
}
.sobre {
  height: 300px;
  text-align: center;
  top: 70px;
  position: relative;
}
.chamada-sobre {
  text-align: center;
  width: 100%;
}
.chamada-sobre h2 {
  color: #124265;
  text-align: center;
  text-transform: uppercase;
}
.chamada-sobre p {
  color: gray;
  font-size: 14px;
  margin: 10px 0;
}
.conteudo-sobre {
  display: flex;
}
.conteudo-sobre p {
  margin: 0 30px;
  padding: 20px;
  text-align: center;
}

@media screen and (max-widht: 768px) {
  .diferencial-single {
    width: 100%;
    margin-bottom: 20px;
  }
}
